name: CI
on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: rust-toolchain
        uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: stable
      - name: install linux deps
        run: >
          sudo apt-get update;
          sudo apt-get install --no-install-recommends
          libasound2-dev            # alsa
          libudev-dev               # udev
          libwayland-dev            # wayland
          libxkbcommon-dev          # xkb
          libx264-164 libx264-dev;  # x264
      - run: cargo test
